@media (max-width: 768px) {
    .container-image {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }

    .container-data {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .container-data-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos para el curso */
.curso-info {
    transition-duration: .2s;
}

.curso-info:hover {
    background-color: #e9ecf0;
}

.mode-dark .curso-info:hover {
    background-color: #161b24;
}   

@media (max-width: 600px) {
    .col-responsive {
        margin-left: 70px;
    }
}

@media (max-width: 522px) {
    .col-responsive {
        margin-left: 50px;
    }
}

@media (max-width: 480px) {
    .col-responsive {
        margin-left: 40px;
    }
}

/* Estilos para el contenedor de los cursos */
@media (max-width: 1100px) {
    .container-responsive {
        width: 900px;
    }
}

@media (max-width: 1000px) {
    .container-responsive {
        width: 850px;
    }
}

@media (max-width: 600px) {
    .container-responsive {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .container-responsive {
        width: 350px;
    }
}

@media (max-width: 360px) {
    .container-responsive {
        width: 300px;
    }
}

@media (max-width: 300px) {
    .container-responsive {
        width: 270px;
    }
}