.animation-link {
    transition-duration: .2s;
}

.animation-link:hover {
    background-color: #e9ecf0;
}

.mode-dark .animation-link:hover {
    background-color: #272e3b;
}

.dropdown-div {
    background-color: #faf9f9 !important;
}

.mode-dark .dropdown-div {
    background-color: #171c25 !important;
}

/* backgroundColor: "#171c25" */