.animacion-side-bar-inicio {
    animation-name: desplazarInicio;
    animation-duration: .5s;
}

.animacion-side-bar-fin {
    animation-name: desplazarFin;
    animation-duration: .5s;
}

.mode-dark .side-bar {
    background-color: #0d1117 !important;
}

.mode-dark .offcanvas {
    background-color: #0d1117 !important;
    color: #fff !important;
}

@keyframes desplazarInicio {
    from {
        left: -300px;
    }

    to {
        left: 0px;
    }
}

@keyframes desplazarFin {
    from {
        left: 0px;
    }

    to {
        left: -400px;
    }
}

@media (min-width: 350px) {
    .offcanvas {
        width: 230px !important;
    }
}

@media (min-width: 350px) {
    .offcanvas {
        width: 270px !important;
    }
}

@media (min-width: 450px) {
    .offcanvas {
        width: 350px !important;
    }
}