.nav-logo {
    font-size: 24px;
    font-weight: 600;
}

.section-one {
    margin-top: 60px;
}

.contenedor-img {
    height: 100%;
}

.contenedor-img > img {
    height: 100%;
    object-fit: cover;
}

/* .mode-dark {
    background-color: #343a40 !important;
    box-shadow: 5px 5px 18px #000 !important;
} */

.mode-dark {
    background-color: #0d1117 !important;
    color: #fff !important;
}

.mode-dark .btnToggle {
    background-color: #fff !important;
}

.mode-dark .mode-dark-text-white {
    color: #fff !important;
}

.mode-dark .nav-dark-mode {
    background-color: #0d1117 !important;
    box-shadow: 5px 5px 18px #5bcd2a !important;
}

.mode-dark .layout-auth {
    box-shadow: 0px 0px 18px #0d1117 !important;
}

.mode-dark {
    background-color: #28a745;
}

.mode-dark .btn-dark-mode {
    background-color: #0d6efd !important;
    border: none;
}

.mode-dark .btn-dark-mode:hover {
    background-color: #0b5ed7 !important;
}

.mode-dark .div-dark-mode {
    background-color: #fff !important;
}

.mode-dark .form-mode-dark {
    background-color: #fff !important;
    color: #000 !important;
}

@media (max-width: 640px) {
    .parrafo-repsonsive {
        font-size: 20px;
        font-weight: 400;
    }
}

@media (max-width: 480px) {
    .parrafo-repsonsive {
        font-size: 18px;
        font-weight: 400;
    }
}

@media (min-width: 576px) {
    .contenedor-parrafo {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .section-two {
        flex-direction: column-reverse;
    }
}

@media (max-width: 576px) {
    .contenedor-pagina-oficial {
        width: 204.16px;
    }
}

@media (max-width: 992px) {
    .cotenedor-link {
        gap: 8px !important;
        padding-left: 24px;
    }
}